<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Learning Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Learning Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Learning Management System</p>
            <address>
                StudentConsulting Project<br />
                Adressgatan 34 B<br />
                Phone: 070-341 60 61
            </address>

            <address>
                <strong>Scrum Master:</strong>   <a href="mailto:peter@kallgren">peter@kallgren.se</a><br />
                <strong>Developer:</strong>   <a href="mailto:joel.berglund94@gmail.com">joel.berglund94@gmail.com</a><br />
                <strong>Developer:</strong>   <a href="mailto:greateguy@gmail.com">greateguy@gmail.com</a><br />
            </address>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
	<script src="~/Scripts/angular.js"></script>
	<script src="~/Scripts/KlassAngularApp.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
