@model LMS.Models.Lecture

@{
    ViewBag.Title = "Lecture";
}

<h2>Lecture Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Schedule.Klass.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Schedule.Klass.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schedule.Klass.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-primary" href="@ViewBag.rUrl">Back to schedule</a> <i>&nbsp;</i>
	@if (HttpContext.Current.User.IsInRole("Teacher")) { 
		@Html.ActionLink("Edit", "Edit", new { id = Model.ID, rUrl = ViewBag.rUrl }, new { @class = "btn btn-success" }) <i>&nbsp;</i>
		@Html.ActionLink("Remove", "Remove", new { id = Model.ID, rUrl = ViewBag.rUrl }, new { @class = "btn btn-danger" })       
    }

</p>
