@model LMS.Models.KlassDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div ng-app="KlassApp">
    <h4>Klass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Klass.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klass.Name)
        </dd>
    </dl>

	<div ng-controller="KlassMemberTable" ng-init="KlassId = @Model.Klass.ID">
		@Html.Partial("KlassMembersListPartial", Model.Klass.Members)
	</div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Klass.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
