@using LMS.Models
@model LMS.Models.KlassDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Manage @Model.Klass.Name</h2>

<div ng-app="KlassApp" ng-controller="KlassMemberTable" ng-init="KlassId = @Model.Klass.ID">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            @Html.ActionLink("Shared files", "Share", "SharedFiles", new { kID = @Model.Klass.ID }, new { @class = "btn btn-primary" })
            @{
                if (HttpContext.Current.User.IsInRole("Teacher"))
                {
                    <i>&nbsp;</i> @Html.ActionLink("Submitted Assignments", "Index", "TeacherSubmission", new { KlassID = @Model.Klass.ID }, new { @class = "btn btn-primary" })
                }
            }

            <i>&nbsp;</i><a class="btn btn-primary" href="/Schedule/KlassSchedule/@(Model.Klass.ID)">Schedule</a>
            <button ng-click="EditingActive = !EditingActive" class="btn btn-primary pull-right">{{EditingActive ? "Stop editing" : "Edit participitation"}}</button>
            <div @*fuck html, that's why*@
                 ng-show="EditingActive"
                 ng-init="showshit = false; NonMembersTableAppends.push('&lt;td&gt;&lt;button class=&quot;btn btn-info&quot;ng-click=&quot;Funcs.AddMember(user)&quot;&gt;Join Class&lt;/button&gt;&lt;/td&gt;')">

                <button class="btn btn-primary pull-right" style="margin-top: 10px;margin-bottom:10px;" ng-click="showshit = !showshit">Add members</button>
                <div ng-show="showshit" ng-init="GetData('getnonmembers?id=' + '@Model.Klass.ID', NonMembers)">
                    <div ng-controller="UserListController" ng-init="tag='NonMembers'; GetShit()">
                        @Html.Partial("~/Views/Users/UserListPartial.cshtml")
                    </div>
                </div>
            </div>

            <div ng-init="MembersTableAppends.push('&lt;td ng-show=&quot;EditingActive&quot;&gt;&lt;button class=&quot;btn btn-warning&quot;ng-click=&quot;Funcs.RemoveMember(user)&quot;&gt;Leave Class&lt;/button&gt;&lt;/td&gt;')">
                <div ng-init="userList={data: null}; GetData('getmembers?id=' + '@Model.Klass.ID', Members)">
                    <div ng-controller="UserListController" ng-init="tag='Members'; GetShit()">
                        @Html.Partial("~/Views/Users/UserListPartial.cshtml")
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to Classes / Courses", "Index", new { }, new { @class="btn btn-primary" })
</p>
