@model IEnumerable<LMS.Models.SharedFile>


<h2>Klass @ViewBag.KlassName shared files</h2>

<table class="table">
    <tr>
        <th>
            Uploader
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
        <th />
    </tr>

	@Html.Partial("SelectFilepartial")

</table>

<form action="SharedFiles/GetDocument" method="post" enctype="multipart/form-data">
<input type="hidden" name="KlassID" value="@ViewBag.KlassID">
<input type="file" name="file" />
<input type="submit" value="Share File" />
</form>