@model LMS.Models.UploadFileViewModel
@{
	ViewBag.Title = "Share";
}

<h2>Files shared by your class</h2>

<table class="table">
	<tr>
		<th>Filename</th><th>Class</th><th>Uploader</th><th>Download</th>
	</tr>
	
	@foreach (var file in Model.Files) {
		<tr>
			<td>@file.FileName</td>
			<td>@file.Klass.Name</td>
			<td>@file.Uploader.GetFullName()</td>
			<td>@Html.ActionLink("Download", "Download", new { id = file.ID }, new { @class = "btn btn-primary" })</td>
		</tr>
	}
</table>






<h2>Share a file with your class</h2>
<h4>Share a file that only members of your class can see</h4>

<form action="GetDocument" method="post" enctype="multipart/form-data">
    <hr />
    <div class="row">
		@if (ViewBag.KlassID == null) { 
			<div class="col-md-6 col-sm-6 col-lg-6">
				<div class="form-group">
					<label for="exampleInputEmail1">Choose class/course to share with</label><br />
					@Html.DropDownListFor(m => Model.SelectedKlassId, Model.KlassList)
				</div>
				<div class="form-group">
					<button class="btn btn-success" type="submit">Share File</button>
				</div>
			</div>
		} else {
			Model.SelectedKlassId = ViewBag.KlassID;
			@Html.HiddenFor(m => m.SelectedKlassId)
		}

        <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="form-group">
                <label for="exampleInputFile">Choose file to share</label>
                <input type="file" name="file" />
                <p class="help-block">Use a zip archive to share several files.</p>
            </div>
        </div>
    </div>

</form>